version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portfolio-api-prod
    ports:
      - "4000:4000"
    env_file: .env
    restart: always

    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:4000"]
      interval: 30s
      timeout: 5s
      retries: 3
