version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: portfolio-api-dev
    ports:
      - "4000:4000"
    env_file: .env
    volumes:
      - .:/app
      - /app/node_modules
    command: ["npm", "run", "dev"]
